{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3,
        "regenerator": true
      }
    ],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@components": "./src/components",
          "@styles": "./src/styles",
          "@hooks": "./src/hooks",
          "@utils": "./src/utils",
          "@consts": "./src/consts",
          "@types": "./src/consts"
        }
      }
    ]
  ]
}
